venv_webhook_server
venv
*.pyc
staticfiles
.env
db.sqlite3
getting-started/*
teste.py
__pycache__
credentials.json
token.json
run_develop.py
new_order.json
src/info.txt
testes-implementation.txt
assets/node_modules