<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/styles.css')}}" />
    <title>Formulário de Pedido - Ana Ramos Moda</title>
  </head>
  <body>
    <!-- multistep form -->
    <form id="msform" action="{{ url_for('main.address_form') }}" method="POST">
      <fieldset>
        <h2 class="fs-title">Endereço de entrega</h2>
        <h3 class="fs-subtitle">
          Por favor, preecha o endereço onde deseja receber seus produtos.
        </h3>
        <input type="text" name="fields[name_1][value]" placeholder="Primeiro Nome" />
        <input type="text" name="fields[name_2][value]" placeholder="Sobrenome" />
        <input type="number" name="fields[cep][value]" placeholder="CEP" />
        <input type="text" name="fields[address_1][value]" placeholder="Logradouro" />
        <input type="number" name="fields[number][value]" placeholder="Número" />
        <input type="text" name="fields[address_2][value]" placeholder="Complemento" />
        <input type="text" name="fields[neibor][value]" placeholder="Bairro" />
        <input type="text" name="fields[city][value]" placeholder="Cidade" />
        <input type="text" name="fields[obsev][value]" placeholder="Observação" />
        <select name="fields[state][value]" id="">
          <option value="AC">AC</option>
          <option value="AL">AL</option>
          <option value="AP">AP</option>
          <option value="AM">AM</option>
          <option value="BA">BA</option>
          <option value="CE">CE</option>
          <option value="DF">DF</option>
          <option value="ES">ES</option>
          <option value="GO">GO</option>
          <option value="MA">MA</option>
          <option value="MT">MT</option>
          <option value="MS">MS</option>
          <option value="MG">MG</option>
          <option value="PA">PA</option>
          <option value="PB">PB</option>
          <option value="PR">PR</option>
          <option value="PE">PE</option>
          <option value="PI">PI</option>
          <option value="RJ">RJ</option>
          <option value="RN">RN</option>
          <option value="RS">RS</option>
          <option value="RO">RO</option>
          <option value="RR">RR</option>
          <option value="SC">SC</option>
          <option value="SP">SP</option>
          <option value="SE">SE</option>
          <option value="TO">TO</option>
        </select>
        <input type="text" name="fields[cpf][value]" placeholder="CPF" />
        <input
          type="text"
          name="fields[zap][value]"
          placeholder="WhatsApp (DDD + Telefone)"
        />
        <input type="text" name="phone" placeholder="Email (Código de rastreamento)" />
        <input type="submit" name="enviar" class="submit action-button" value="Enviar" />
      </fieldset>
    </form>
  </body>
</html>
