<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/styles.css')}}" />
    <title>Criar link de Formulário - Ana Ramos Moda</title>
  </head>
  <body>
    <!-- multistep form -->
    <form id="msform" action="{{ url_for('main.address_form') }}" method="POST">
      <fieldset>
        <h2 class="fs-title">Endereço de entrega</h2>
        <h3 class="fs-subtitle">
          Por favor, preecha o endereço onde deseja receber seus produtos.
        </h3>
        <input
          placeholder="Primeiro Nome"
          name="name_1"
          type="text"
          pattern="([aA-zZáéíóúÁÉÍÓÚ 0-9]+)"
          title="Apenas letras. Até 20 letras"
          maxlength="20"
          required
        />
        <input
          placeholder="Sobrenome"
          name="name_2"
          type="text"
          pattern="([aA-zZáéíóúÁÉÍÓÚãÃõÕ 0-9]+)"
          title="Apenas letras. Até 20 letras"
          maxlength="20"
          required
        />
        <input
          type="number"
          name="cep"
          placeholder="CEP"
          title="Apenas números. Inclua os zeros. Ex: 09172180"
          maxlength="8"
          minlength="8"
          id="cep"
          required
        />
        <input
          placeholder="Logradouro"
          name="address_1"
          type="text"
          pattern="([aA-zZáéíóúÁÉÍÓÚãÃõÕ 0-9]+)"
          title="Apenas letras. Até 40 letras"
          maxlength="40"
          id="address_1"
          required
        />

        <input
          placeholder="Número"
          name="address_number"
          type="text"
          title="Apenas letras e números. Até 12 dígitos"
          pattern="([aA-zZáéíóúÁÉÍÓÚãÃõÕ 0-9]+)"
          maxlength="12"
          required
        />
        <input
          placeholder="Bairro"
          name="bairro"
          type="text"
          title="Até 24 caracteres"
          maxlength="24"
          required
          pattern="([aA-zZáéíóúÁÉÍÓÚãÃõÕ 0-9]+)"
          id="bairro"
        />

        <input
          placeholder="Cidade"
          name="cidade"
          type="text"
          title="Até 40 caracteres"
          maxlength="40"
          required
          id="cidade"
          pattern="([aA-zZáéíóúÁÉÍÓÚãÃõÕ 0-9]+)"
        />
        <input
          placeholder="Bloco / Ap / Casa"
          name="complemento"
          type="text"
          title="Até 24 caracteres"
          maxlength="24"
          pattern="([aA-zZáéíóúÁÉÍÓÚãÃõÕ 0-9]+)"
        />
        <input
          placeholder="Informações adicionais"
          name="obs"
          type="text"
          title="Até 30 caracteres"
          maxlength="30"
          pattern="([aA-zZáéíóúÁÉÍÓÚãÃõÕ 0-9]+)"
        />
        <select name="estado" id="estado" required>
          <option value="AC">AC</option>
          <option value="AL">AL</option>
          <option value="AP">AP</option>
          <option value="AM">AM</option>
          <option value="BA">BA</option>
          <option value="CE">CE</option>
          <option value="DF">DF</option>
          <option value="ES">ES</option>
          <option value="GO">GO</option>
          <option value="MA">MA</option>
          <option value="MT">MT</option>
          <option value="MS">MS</option>
          <option value="MG">MG</option>
          <option value="PA">PA</option>
          <option value="PB">PB</option>
          <option value="PR">PR</option>
          <option value="PE">PE</option>
          <option value="PI">PI</option>
          <option value="RJ">RJ</option>
          <option value="RN">RN</option>
          <option value="RS">RS</option>
          <option value="RO">RO</option>
          <option value="RR">RR</option>
          <option value="SC">SC</option>
          <option value="SP">SP</option>
          <option value="SE">SE</option>
          <option value="TO">TO</option>
        </select>
        <input
          placeholder="CPF para os Correios"
          name="cpf"
          type="text"
          pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})"
          title="Apenas Números. 11 Dígitos. Inclua os zeros. Ex: 00652158925"
          maxlength="11"
          minlength="11"
          required
        />
        <input
          placeholder="WhatsApp (DDD + Telefone)"
          type="number"
          name="zap"
          title="Apenas números. Ex: 11982942057"
          maxlength="11"
          minlength="10"
          required
        />

        <input
          placeholder="Email (Código de rastreamento)"
          name="email"
          type="email"
          title="Formato com @ .com .com.br"
        />
        <input placeholder="Produtos" name="produtos" type="hidden" id="produtos" />
        <input placeholder="Tipo frete" name="tipo_frete" type="hidden" id="tipo_frete" />
        <input placeholder="Forma pgto" name="forma_pgto" type="hidden" id="forma_pgto" />
        <input
          placeholder="Preco frete"
          name="preco_frete"
          type="hidden"
          id="preco_frete"
        />
        <input type="submit" name="enviar" class="submit action-button" value="Enviar" />
        <h3 class="fs-subtitle">
          Após enviar, por favor aguarde alguns segundo para receber a confirmação
        </h3>
      </fieldset>
    </form>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static' , filename='js/form_autocomplete.js')}}"></script>
  </body>
</html>
