<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/styles.css')}}" />
    <title>Criar link de Formulário - Ana Ramos Moda</title>
  </head>
  <body>
    <!-- multistep form -->
    <form id="msform" action="{{ url_for('main.create_form_link') }}" method="POST">
      <fieldset>
        <h2 class="fs-title">Criação de Links de Formulários</h2>
        <h3 class="fs-subtitle">
          Preencha as Informações sobre o pedido para criar um link e enviar para a
          cliente
        </h3>
        <label for="cod_produtos">Digite os códigos dos produtos</label>
        <input
          placeholder="Ex: 3282 ou 4001,3226"
          name="cod_produtos"
          type="text"
          pattern="([aA-zZáéíóúÁÉÍÓÚ 0-9]+)"
          title="Para mais produtos separe por virgulas sem espaço"
        />
        <label for="preco_frete">Qual o valor do frete?</label>
        <input
          placeholder="Sem centavos: Ex 25 ou 15 ou 0"
          name="preco_frete"
          type="number"
          title="Somente 2 dígitos"
          pattern="([0-9][0-9]])"
        />

        <label for="tipo_frete">PAC ou SEDEX?</label>
        <select name="tipo_frete" id="">
          <option value="PAC">PAC</option>
          <option value="SEDEX">SEDEX</option>
        </select>

        <label for="forma_pgto">PIX ou Link MP?</label>
        <select name="forma_pgto" id="">
          <option value="PIX">PIX</option>
          <option value="Link MP">Link MP</option>
        </select>
        <input type="submit" name="enviar" class="submit action-button" value="Enviar" />
        <h3 class="fs-subtitle">
          Após enviar, por favor aguarde alguns segundo para receber a confirmação
        </h3>
      </fieldset>
    </form>
  </body>
</html>
