<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/styles.css')}}" />
    <title>Formulário de Pedido - Ana Ramos Moda</title>
  </head>
  <body>
    <!-- multistep form -->
    <form id="msform" action="{{ url_for('main.address_form') }}" method="POST">
      <fieldset>
        <h2 class="fs-title">Endereço de entrega</h2>
        <h3 class="fs-subtitle">
          Por favor, preecha o endereço onde deseja receber seus produtos.
        </h3>
        <input
          placeholder="Primeiro Nome"
          name="name_1"
          type="text"
          pattern="([aA-zZ]+)"
          title="Apenas letras. Até 20 letras"
          maxlength="20"
        />
        <input
          placeholder="Sobrenome"
          name="name_2"
          type="text"
          pattern="([aA-zZ]+)"
          title="Apenas letras. Até 20 letras"
          maxlength="20"
        />
        <input ype="number" name="cep" placeholder="CEP" title="Apenas números" />
        <input
          placeholder="Logradouro"
          name="address_1"
          type="text"
          pattern="([aA-zZ]+)"
          title="Apenas letras. Até 40 letras"
          maxlength="40"
        />

        <input
          placeholder="Número"
          name="address_number"
          type="number"
          title="Apenas números. Até 12 dígitos"
          maxlength="12"
        />
        <input
          placeholder="Complemento"
          name="complemento"
          type="text"
          title="Até 24 caracteres"
          maxlength="24"
        />
        <input
          placeholder="Bairro"
          name="bairro"
          type="text"
          title="Até 24 caracteres"
          maxlength="24"
        />

        <input
          placeholder="Cidade"
          name="cidade"
          type="text"
          title="Até 40 caracteres"
          maxlength="40"
        />
        <input
          placeholder="Observação"
          name="obs"
          type="text"
          title="Até 30 caracteres"
          maxlength="30"
        />
        <select name="fields[state][value]" id="">
          <option value="AC">AC</option>
          <option value="AL">AL</option>
          <option value="AP">AP</option>
          <option value="AM">AM</option>
          <option value="BA">BA</option>
          <option value="CE">CE</option>
          <option value="DF">DF</option>
          <option value="ES">ES</option>
          <option value="GO">GO</option>
          <option value="MA">MA</option>
          <option value="MT">MT</option>
          <option value="MS">MS</option>
          <option value="MG">MG</option>
          <option value="PA">PA</option>
          <option value="PB">PB</option>
          <option value="PR">PR</option>
          <option value="PE">PE</option>
          <option value="PI">PI</option>
          <option value="RJ">RJ</option>
          <option value="RN">RN</option>
          <option value="RS">RS</option>
          <option value="RO">RO</option>
          <option value="RR">RR</option>
          <option value="SC">SC</option>
          <option value="SP">SP</option>
          <option value="SE">SE</option>
          <option value="TO">TO</option>
        </select>
        <input
          placeholder="CPF"
          name="cpf"
          type="text"
          pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})"
          title="Apenas Números. 11 Dígitos. Inclua os zeros. Ex: 00652158925"
          maxlength="11"
          minlength="11"
        />
        <input
          placeholder="WhatsApp (DDD + Telefone)"
          type="number"
          name="zap"
          title="Apenas números. Ex: 11982942057"
          maxlength="11"
          minlength="10"
        />

        <input
          placeholder="Email (Código de rastreamento)"
          name="email"
          type="email"
          title="Formato com @ .com .com.br"
        />
        <input type="submit" name="enviar" class="submit action-button" value="Enviar" />
      </fieldset>
    </form>
  </body>
</html>
